

<html>
<head>
<title></title>
</head>
<body text="white">
	<P>
		<a href="Index.html"><img src=" back button.jpg" height="30"
			width="80"></a>
	</P>
	<link rel="stylesheet" type="text/css" href="contactus.css">
	<div class="bgimage">
		<div class="menu">
			<div class="leftmenu">
				<img src="logo.jpg" height="80" width="100" align="left">
			</div>
			<div class="rightmenu">
				<nav>
					<ul>
						<li id=firstlist><a href="home.html">Home</a></li>
						<li><a href="product.html">products</a></li>
						<li><a href="aboutus.html">aboutus</a></li>
						<li><a href="contactus.html">contactus</a></li>
						<li><a href="sign in.html">signin</a></li>
						<li><a href="feedback1.html">Feedback</a></li>
						<li><a href="findus.html">Findus</a></li>
				</nav>
			</div>
		</div>
		<br> <br>
		<div class="mark">
			<h6 style="background: white">
				<marquee>Shree Datta Fertilisers & Chemicals 
			</h6>
			</marquee>
		</div>
		<br>
</body>
</html>



<html>
<head></head>
<body text="black" background="NN.jpg">
	<div class="con" align="center">
		<h1
			style="font-size: 30pt; font-family: Georgia; color: black; font-weight: bold">
			<U>About Us</U>
		</h1>
		<br> <br> <br> <br> <br>
		<h2>
			Owner<br>Mr.Anil Ishwar Kumbhar<br>9545704045<br>aikumbhar1725@gmail.com
		</h2>
		<br> <br> <br> <br>
		<h2>
			Staff<br>Mr. Sachin Arun Thorbole<br>9822797173
		</h2>
		<br> <br> <br> <br>
		<h2>
			Shop Information<br>Fertiliser Lic No.- LAFD13090225<br>Insecticide
			Lic No.- LAID13090171<br>Seeds Lic No.- LAID13090145
		</h2>
	</div>
</body>
</html
<html>
<head>
<link rel="stylesheet" href="contact.css">
</head>
<body>
	<div class="foot" align="center">
		<h5>Copyright @ Smita & Saniya</h5>
	</div>
</body>
</html>
