<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<div class="bgimage">
		<div class="menu">
			<div class="leftmenu">
				<img src="logo.jpg" width="100" height="80" hspace="">
			</div>
			<div class="rightmenu">
				<ul>
					<li id=firstlist><a href="home.html">Home</a></li>
					<li><a href="product.html">products</a>
						<ul>
							<li><a href="fertilizer.html">Fertilizers</a></li>
							<li><a href="pesticide.html">Pesticides</a></li>
							<li><a href="seeds.html">Seeds</a></li>
							<li><a href="others.html">Others</a></li>
						</ul></li>
					<li><a href="aboutus.html">aboutus</a></li>
					<li><a href="contactus.html">contactus</a></li>
					<li><a href="sign in.html">signin</a></li>
					<li><a href="feedback1.html">Feedback</a></li>
					<li><a href="findus">Findus</a></li>
					<li><a href="Index.html">Logout</a></li>
			</div>
		</div>
		<br>
		<br>
		<div class="mark">
			<p>
				<marquee>WELCOME</marquee>
			</p>
		</div>
		<div class="text">
			<h2>
				<mark>Shree Datta Fertilizers & Chemicals</mark>
			</h2>
		</div>
	</div>

</body>
</html>


